@import 'variables';
@import "helpers";

%menu-item {
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-style: toRem(20px);
    line-height: toRem(24px);
    color: $primary-font-color;
    text-decoration: none;
    padding: toRem(10px);
    margin: toRem(6px);
    display: inline-block;
}

.intro {
    background-image: url('#{$imgs-path}/intro_bg.jpg');
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: toRem(1556px);
    width: 100%;
    margin: auto;
    padding-top: toRem(26px);
    padding-bottom: toRem(26px);
}

.main-menu {
    &__item {
        @extend %menu-item;
    }

    &__item--active, &__item:hover {
        font-weight: 500;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: toRem(6px);
            width: calc(100% - toRem(20px));
            height: toRem(3px);
            display: block;
            background-color: $primary-color;
        }
    }
}

.auth-menu {
    &__item {
        @extend %menu-item;
    }

    &__item--btn {
        border-radius: toRem(12px);
        background-color: $primary-color;
        padding: toRem(20px) toRem(32px);

    }
}

.lead {
    color: $primary-font-color;
    max-width: toRem(1556px);
    width: 100%;
    margin: auto;
    &__hdl {
        font-family: Playfair Display, serif;
        font-size: toRem(84px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
    }
    &__text {
        font-family: Rubik, sans-serif;
        font-size: toRem(24px);
        font-weight: 400;
        display: inline-block;
    }
}