$base-font-size: 16px;

$primary-font-color: #FFF;
$secondary-font-color: #767E86;
$input-font-color: #172432;

$primary-color: #FF7757;
$secondary-color: #FFF;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$imgs-path: '../images';

html, body {
  font-size: $base-font-size;
}